body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Tahoma, sans-serif;
}
.header {
	height: 50px;
    margin-top: 10px;	
}
.header li {
	display: inline-block;
	float: right;
	margin-right: 10px;
}	
a {
	text-decoration: none;
}
img {
	width: 300px;
    height: 120px;
    position: relative;
    left: 500px;
    top: 120px;
}
input {
	position: relative;
    top: 125px;
    left: 395px;
    width: 585px;
    height: 7%;	
}
li {
	display: inline-block;	
}
.buttons{
	position: relative;
    top: 150px;
    left: 500px;	
}


